/* Style Sheet for formatting links */

a:link, a:visited {
  color: #666666;
  text-decoration:none;
}

a:hover, a:active {
  color: red;
  text-decoration:none;
}

a.currentlink {
  text-decoration: underline;
}

/* In-text References */

a.intext:link, a.intext:visited {
  color:#003cb3;
}

a.intext:hover, a.intext:active {
  color: #2c2c2c;
}
