/* Main Style Sheet for the index page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font: 15px  Verdana, sans-serif;
  
  color: black; 
  background-color: #EEF4F2; 
  
  margin:0;

  text-align: justify;
  text-justify: inter-word;
}

.menu-container {
  background-color: #1abc9c;
  padding:20px 0px;

  display:flex;
  justify-content:center;
}

.menu {
  font-family:geneva;
  color: white;

  width: 75%;
  
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

a:link, a:visited {
  color:white;
  text-decoration:none;
}

a:hover, a:active {
  color: black;
  text-decoration:none;
}

a.dansnow {
  font-size: 600%;
}


.menubuttons {
  display: flex;
  flex-direction:column;
}

a.linkname {
  font-size: 150%;
}

a.currentlink {
  font-size: 150%;
  text-decoration: underline;
}

hr.green {
	border:5px solid #1abc9c;
}

hr.background {
	border:5px solid #EEF4F2;
}

.maincontent-container {
  display:flex;
  justify-content:center;

  padding-top: 20px;
}

.maincontent {
  width:75%;

  display:flex;
  justify-content:space-between;
}

@media all and (max-width: 1200px) {
.maincontent {
  width:75%;
  display:flex;
  flex-direction:column;
}
}


p {
  font-size: 150%;
  padding-bottom:20px;
  padding-right: 10%;
}

@media all and (max-width: 1200px) {
p {
  padding-right:0%;
}
}

/* In-text References */

a.intext:link, a.intext:visited {
  color:#1abc9c;
}

a.intext:hover, a.intext:active {
  text-decoration:underline;
}

